@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Remove all borders and outlines in normal and focus states */
  input,
  input:focus,
  input:active {
      outline: none;
      box-shadow: none !important;
      appearance: none;
      -webkit-appearance: none;
  }

  /* Override browser autofill styles */
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
      transition: background-color 5000s ease-in-out 0s;
      background-color: white !important;
  }
}
